
.bienvenido {
  height: 500px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
  margin-top: 0px;
}
.image{
  position: relative;
  background: #ffff;
  padding: 0px;
  top: 0px;
}

.image h1{
  z-index: 2;
  position: absolute;
  top: 35%;
  left: 20px;
  right: 0;
  font-size: 50px;
  width: 100%;
  height: 26px;
  padding: 0;
  margin: 0;
  text-align: left;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold' bold, serif round, sans-serif;
  text-shadow: 2px  2px 2px rgb(20, 20, 20);
  color: #665736;
  font-style: italic;
}

.image #tituloNombre{
  margin-top: -130px; 
}

.image #tituloApellido {
  margin-top: -50px;
}

.image h2{
  z-index: 2;
  position: absolute;
  top: 40%;
  right: 30px;
  left: 90;
  font-size: 40px;
  width: 100%;
  height: 30px;
  padding: 0;
  margin: 0;
  margin-top: 40px; 
  text-align: right;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold' bold, serif round, sans-serif;
  color: #665736;  
  text-shadow: 1.5px  1.5px 1.5px rgb(20, 20, 20);
  font-style: italic;
}


.image img{
  width: 100%;
  height: 100%;
  position: center absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  padding: 0px;
  background: #ffff;
  overflow: hidden;
}



.miniTitulo {
  font-family: garamond, serif;
  color:#dfd2af;
  text-shadow: 2px  2px 2px rgb(20, 20, 20);
  font-size: 40px;
  padding-top: 60px;
  padding-left: 20px;
  margin-left: 25px;
  margin-top: 20px;
  font-style: bold;
}

html {
  scroll-behavior: smooth;
}

body {
    background-color: white;
    color:#5c492b;
    font-family:  garamond, serif;
    font-style: none;
    font-size: 20px;
}
    
#topnav {
    background-color: #BCAB89;
    overflow: hidden;
    width: 100%;
    position: sticky;
  }
  
  #topnav a {
    background-color: #BCAB89;
    float: left;
    color: #5c492b;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 18px;
    display: block;
  }

  .content {
    padding: 20px;
  }
  
  /* Change the color of links on hover */
  #topnav a:hover {
    background-color: #C5AE6D;
    color: #5c492b;
  }

  /* menu container */
#topnav .dropdown {
  float: left;
  overflow: hidden;
}

#topnav .dropbtn {
  font-size: 18px;
  border: none;
  outline: none;
  color: #5c492b;
  padding: 15px 30px;
  background-color: inherit;
  font-family: inherit; 
  margin: 0; 
}

#topnav .dropbtn:hover {
  background-color: #C5AE6D;
}

#topnav .dropdown-content {
  display: none;
  position: absolute;
  background-color: #BCAB89;
  min-width: 160px;
  z-index: 1;
}


/* Links adentro del menu */
#topnav .dropdown-content a {
  float: none;
  color: #5c492b;
  background-color: #dfd2af;
  font-size: 20px;
  padding: 12px 16px;
  display: block;
  text-align: left;
}

#topnav .dropdown-content a:hover {
  background-color: #ddd;
}

#topnav .dropdown:hover .dropdown-content {
  display: block;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


.sticky + .content{
  padding-top: 40px;
}

.row {
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.colecDer {
  padding-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

#parrafoUno {
  padding-right: 80px;
  margin-top: 0px;
  color: #dfd2af; 
  line-height: 30px;
}

#parrafoDos {
  padding-left: 80px;
  margin-top: 0px;
  color: #dfd2af; 
  line-height: 30px;
  text-align: right;
}

#parrafoBlanc {
  padding-left: 80px;
  margin-top: 0px;
  color: #5c492b; 
  line-height: 30px;
}

.colecIzq {
  padding-top: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.colecCL {
  padding-top: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.retrato {
  padding-top: 30px;
  display: block;
  margin-left: 0px;
  margin-right: auto;
  text-align: inherit;
  width: 63%;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

#colecciones {
  background-color: #ffff;
  border: 2px ;
}

#colecciones a {
  text-decoration: none;
}

#historias {
  background-color: #5c492b;
  justify-content: space-between;
}
.col {
  float: left;
  width: 19.1%;
  margin-top: 1px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 1px;
  padding: 2px;
  display: flex;
  justify-content: center;
}

.colh {
  float: left;
  width: 24%;
  margin-top: 1px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 1px;
  padding: 2px;
  display: flex;
  justify-content: space-around;
}

#introContacto {
  padding-left: 30px;
  padding-right: 30px;
}

::placeholder {
    font-family: garamond, serif;
    color: #93897C;
    font-size: 15px;
}

* {
    box-sizing: border-box;
  }

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=email], select, textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
    }
  
  input[type=submit] {
    background-color: #BCAB89;
    color: #5c492b;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-family: garamond, serif;
    font-size: 16px;
    border-style: outset;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #C5AE6D;
    border-style: none;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding-left: 25px;
    padding-right: 25px;
  }

  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    margin: 10px;
  }
  
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  /*icono de wpp

  .floating-wpp {
    position:fixed;
    bottom:15px;
    left:15px;
    font-size:14px;
    transition:bottom .2s
}

.floating-wpp .floating-wpp-button{
    position:relative;
    border-radius:50%;
    box-shadow:1px 1px 4px rgba(60,60,60,.4);
    transition:box-shadow .2s;
    cursor:pointer;
    overflow:hidden
}

.floating-wpp .floating-wpp-button img,.floating-wpp .floating-wpp-button svg{
    position:absolute;
    width:100%;
    height:auto;
    object-fit:cover;
    top:50%;
    left:50%;
    transform:translate3d(-50%,-50%,0);
    border-radius:50%
}

.floating-wpp:hover{
    bottom:17px
}

.floating-wpp:hover .floating-wpp-button{
    box-shadow:1px 2px 8px rgba(60,60,60,.4)
}

.floating-wpp .floating-wpp-popup{
    border-radius:6px;
    background-color:#E5DDD5;
    position:absolute;
    overflow:hidden;
    padding:0;
    box-shadow:1px 2px 8px rgba(60,60,60,.25);
    width:0;
    height:0;
    bottom:0;
    opacity:0;
    transition:bottom .1s ease-out, opacity .2s ease-out;
    transform-origin:bottom
}

.floating-wpp .floating-wpp-popup.active{
    padding:0 12px 12px;
    width:260px;
    height:auto;
    bottom:82px;
    opacity:1
}

.floating-wpp .floating-wpp-popup .floating-wpp-message{
    background-color:#fff;
    padding:8px;
    border-radius:0 5px 5px;
    box-shadow:1px 1px 1px rgba(0,0,0,.15);
    opacity:0;
    transition:opacity .2s
}

.floating-wpp .floating-wpp-popup.active .floating-wpp-message{
    opacity:1;
    transition-delay:.2s
}

.floating-wpp .floating-wpp-popup .floating-wpp-head{
    text-align:right;
    color:#fff;
    margin:0 -15px 10px;
    padding:6px 12px;
    display:flex;
    justify-content:space-between;
    cursor:pointer
}

.floating-wpp .floating-wpp-input-message{
    background-color:#fff;
    margin:10px -15px -15px;
    padding:0 15px;
    display:flex;
    align-items:center
}

.floating-wpp .floating-wpp-input-message textarea{
    border:1px solid #ccc;
    border-radius:4px;
    box-shadow:none;
    padding:8px;
    margin:10px 0;
    width:100%;
    max-width:100%;
    font-family:inherit;
    font-size:inherit;
    resize:none
}

.floating-wpp .floating-wpp-btn-send{
    margin-left:12px;
    font-size:0;
    cursor:pointer
}
*/


